<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>客户绑定</title>
    #include("/WEB-INF/template/www/css.html")
    #include("/WEB-INF/template/www/js.html")
</head>

<body>
<input type="hidden" id="ctx" value="#(ctx)">
<div class="container">
    <form id="custForm" role="form" class="form-signin" method="post" action="/mer01/addCust" enctype="multipart/form-data">
        <h2 class="form-signin-heading">客户银行卡绑定</h2>
        <div class="form-group">
            <label >商户号</label>
            <input type="text" class="form-control"  placeholder="商户号" name="merNo">
        </div>
        <div class="form-group">
            <label >客户姓名</label>
            <input type="text" class="form-control"  placeholder="客户姓名" name="custName">
        </div>
        <div class="form-group">
            <label >身份证号</label>
            <input type="text" class="form-control"  placeholder="身份证号" name="cardID">
        </div>
        <div class="form-group">
            <label >银行预留手机号</label>
            <input type="text" class="form-control"  placeholder="银行预留手机号" name="mobileBank">
        </div>
        <div class="form-group">
            <label >银行卡号</label>
            <input type="text" class="form-control"  placeholder="银行卡号" name="bankcardNo">
        </div>
        <div class="form-group">
            <label >请上传身份证正面照片</label>
            <input type="file" name="cardImgZ">
        </div>
        <div class="form-group">
            <label >请上传本人现场照片</label>
            <input type="file"  name="selfImg">
        </div>

        <button id="formBtn" name="formBtn" class="btn btn-lg btn-primary btn-block" type="submit">绑定</button>
    </form>
</div> <!-- /container -->



<script type="text/javascript">
    $(document).ready(function() {
        /**
         * 下面是进行插件初始化
         * 你只需传入相应的键值对
         * */
        $('#custForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                /*输入框不同状态，显示图片的样式*/
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                /*验证*/
                merNo: {
                    /*键名username和input name值对应*/
                    message: 'The username is not valid',
                    validators: {
                        notEmpty: {
                            /*非空提示*/
                            message: '用户名不能为空'
                        },

                    }
                }
            },


        });

        $("#custForm").bootstrapValidator('destroy');

        //提交的时候代码组合
        $('#custForm').data('bootstrapValidator').validate();
        if(!$('#custForm').data('bootstrapValidator').isValid()){
            return false;
        }
    });
</script>


</body>
</html>

